.cardStyle {
  background-color: #ffffff;
  border-radius: 10px;
}

.fourthCard {
  background-image: linear-gradient(156deg, #004cd4, #679dff);
  color: white;
}

.title {
  color: white;
}

.cardHover {
  margin: 20px 0px;
  transition: 0.4s;
  cursor: pointer;
}

.cardHover:hover {
  transform: scale(1.1);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.selectPlan {
  margin: 100px 0px;
}

.btnNow {
  color: white;
  background-image: linear-gradient(156deg, #004cd4, #679dff);
}

.btnNow:hover {
  color: white;
  background-image: linear-gradient(156deg, #004cd4, #679dff);
}
