/* .btn {
  border: none;
  background-color: white;
  color: #ffb229;
  border-radius: 6px;
} */
/* .Invitebtn {
  background-color: #004cd4;
  border: none;
  border-radius: 5px;
  color: white;
} */
